<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

RewriteEngine On

RewriteRule ^product/create$ sell.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^/$ index.php [L]
RewriteRule ^cart$ cart.php [L]
RewriteRule ^admin$ admin.php [L]
RewriteRule ^user$ user.php [L]

<FilesMatch "\.(css|js|jpg|png|gif|ico|svg)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>