/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #333;
    transition: background-color 0.3s ease-in-out;
}

a {
    color: #0073bb;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #ff9900;
}

h1, h2 {
    margin: 0;
}

/* Header */
header {
    background-color: #232f3e;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 0 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

header nav a:hover {
    color: #febd69;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* User section in footer style */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img.profile-picture { /* User profile picture resizing */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.username-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.username-link:hover {
    color: #febd69;
    text-decoration: underline;
}


/* Admin Button */
.admin-button {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 15px;
    background-color: #0073bb;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.admin-button:hover {
    background-color: #005b99;
    transform: scale(1.05);
}

/* Main Content */
h1 {
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
    animation: slide-down 0.8s ease-out;
}

div {
    max-width: 1200px;
/*    margin: 15px; */
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Main container */
.products-container {
    display: flex;
    flex-wrap: wrap; /* Moves to a new line if necessary */
    gap: 20px; /* Card spacing */
    justify-content: space-between;
    padding: 20px;
}

/* Card products style */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(33.333% - 20px); /* Trois colonnes avec espace entre elles */
    box-sizing: border-box; /* Inclut padding et bordures dans la largeur totale */
}

/* Product picture */
.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Product title */
.product-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Button and title */
.product-card p {
    font-size: 14px;
    color: #555;
}

.product-card a,
.product-card button {
    display: inline-block;
    margin-top: 10px;
}

/* Product Item */
div h2 {
    font-size: 20px;
    margin-bottom: 5px;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s ease-in-out forwards;
}

div p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(30px);
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}

div a {
    font-size: 14px;
    color: #0073bb;
    font-weight: bold;
    opacity: 100;
    transform: scale(0.9);
    animation-delay: 0.4s;
}

div a:hover {
    color: #ff9900;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}