/* Header */
header {
    background-color: #232f3e;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 0 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

header nav a:hover {
    color: #febd69;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #333;
}

a {
    color: #0073bb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff9900;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

/* Header */
header {
    background-color: #232f3e;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 0 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

header nav a:hover {
    color: #febd69;
}

/* Profile Container */
.profile-container {
    max-width: 600px;
    margin: 50px auto; /* Center container */
    background-color: #fff;
    padding: 20px; /* Internal spacing */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Profile Picture */
.profile-container img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px; 
    border-radius: 50%; /* Round picture */
    object-fit: cover;
}

/* Profile edit form */
form {
    display: flex; /* Align elements vertically */
    flex-direction: column; 
}

form input[type="file"] {
    margin-bottom: 15px; /* Spacing under the file field */
}

form button {
    background-color: #4caf50;
    color: white; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    cursor: pointer; 
}

form button:hover {
    background-color: #55ca58;
}

/* User info */
.user-info p {
    font-size: 16px; 
}

/* Errorr messages */
.profile-container p[style="color:red"] {
   text-align:center
}
